#projects {
  text-align: center;
  margin-top: 100px;
  color: wheat;
  font-size: 24px;
  line-height: 2;
}

.project-item p {
  color: blueviolet;
  font-size: 20px;
}

.project-item a {
  color: rgb(161, 251, 15);
  font-size: 20px;
  padding: 10px;
}

.project-item a:hover {
  color: rgb(255, 0, 0);
}

@media (max-width: 768px) {
  #projects {
    font-size: 20px;
  }

  .project-item p {
    font-size: 18px;
  }

  .project-item a {
    font-size: 18px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  #projects {
    font-size: 18px;
    margin-top: 50px;
  }

  .project-item p {
    font-size: 16px;
  }

  .project-item a {
    font-size: 16px;
    padding: 5px;
  }
}
