/* Desktop Styles */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  position: relative;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links :hover{
  color: red;
}

.navbar-links:visited{
  color: rgb(0, 55, 255);
}


.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
}

.navbar-link:hover {
  background-color: #555;
}

/* Tablet Styles */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  /* .navbar-links {
    display: none;
  } */

  .navbar-link {
    display: block;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  /* .navbar-menu {
    display: none;
  } */

  .navbar-menu.active {
    display: block;
  }
}

/* Mobile Styles */
@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navbar-link {
    margin: 5px;
    padding: 5px;
  }
}


/* iPhone 4 Styles */
@media (max-width: 400px) {
  .navbar-link {
    font-size: 5px;
    display: inline-block; /* Ensure navbar links are visible */
  }
}
