#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.content p {
  font-size: 28px;
  font-weight: 200;
  color: wheat;
}

.contact-item h3 {
  margin-top: 40px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-media-links li {
  margin: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content {
    padding: 0 20px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 20px;
  }
}

/* Smartphone Styles */
@media (max-width: 480px) {
  .contact-description {
    font-size: 22px;
  }

  .social-media-links {
    flex-wrap: wrap;
  }

  .social-media-links li {
    margin: 10px;
  }
}

/* Kindle Styles */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .content {
    padding: 0 20px;
  }

  .contact-description {
    font-size: 58px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 20px;
  }

  .social-media-links li {
    margin: 10px;
  }
}

/* iPhone 4 Styles */
@media only screen and (max-width: 320px) {
  .content p {
    font-size: 20px;
  }

  .contact-description {
    font-size: 18px;
  }

  .contact-item h3 {
    font-size: 18px;
  }

  .social-media-links li {
    margin: 5px;
  }
}

iframe {
  margin-top: 300px;
  border-radius: 50px;
  border: solid 8px black;
}
