
.experience-item p {
  font-size: 30px;
  margin-top: 40px;
  color:rgb(133, 18, 255)
 
 
 
   

}

#experience {
  padding: 40px;
  color: #fff;
}

.experience-item {
  margin-top: 100px;
  text-align: center;
}

.experience-item h3 {
  font-size: 24px;
  /* margin-bottom: 10px; */
  margin-top: 80px;
  font-size: 36px;

  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimation 1s ease-in-out infinite alternate;
}

.experience-item h4 {
  margin-top: 40px;
  font-size: 30px;
}



@keyframes textAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.experience-item h4 {
  font-size: 18px;
  color: #59ff00;
  margin-bottom: 5px;
}


.experience-item ul {
  list-style-type: disc;
  margin-left: 20px;
 margin-top: 80px ;
}

.experience-item ul li {
  font-size: 30px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .experience-item h3 {
    font-size: 28px;
  }

  .experience-item h4 {
    font-size: 16px;
  }

  .experience-item p {
    font-size: 24px;
  }

  .experience-item ul li {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  #experience {
    padding: 20px;
  }

  .experience-item h3 {
    font-size: 24px;
  }

  .experience-item h4 {
    font-size: 14px;
  }

  .experience-item p {
    font-size: 20px;
  }

  .experience-item ul li {
    font-size: 20px;
  }
}
